main {
    background:turquoise;
    width: 1300px;
    @media screen and (max-width:1200px){main{max-width: 1000px;}
    }
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
    box-sizing: border-box
  }

body {
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    background: whitesmoke;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.artObject {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}